<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<body id="mapbody" style="margin:0px; padding:0px; border-style: none;" onload="initialize()">
  <div id="map_canvas" style="width: 829px; height: 370px;"></div>
  <div style="display:none">

   <%= render 'layouts/voteup', :html => { :id => 'votelink' } %>

   <%= render 'microposts/mapform' %>
 </div>
</div>
</body>
