  <%= form_for ([micropost, micropost.comments.build]), remote: true do |f| %>
  <h3>Add a comment:</h3>
    <%= f.hidden_field :commenter, value: current_user.name %>
  <p>
    <%= f.text_area :body %><br>
  </p>
  <%= f.submit "Submit Comment" %>

  <% end %>
