<h2 id="listheader" class="border">Your Local Posts:</h2>
   <%= render 'comments' %>

   <%= link_to 'Last', list_path(:page => @microposts.previous_page), class: 'load-more-posts', :remote => true if @microposts.next_page %>
   <%= link_to 'Next', list_path(:page => @microposts.next_page), class: 'load-more-posts', :remote => true if @microposts.next_page %>
