<div id="microshow">
  <div class="center grid_4">

   <%= render 'generalpost' %>

   <hr width="90px">

   <h2 id="listheader" class="border">Your Local Posts:</h2>
   <%= render 'comments' %>
  </div>
</div>


