<div id="microshow">
  <div class="center grid_4 microposts">

   <%= render 'generalpost' %>

   <hr width="90px">
  <%= paginate @microposts %>
  <%= render 'microposts' %>
  <%= paginate @microposts %>
  </div>
</div>


